body{
    text-align: center;
}
.mcolor{
    color:#87ceeb;
}
.pcolor{
    color:#ffc0cb;
}
h1{
    font-family: "Josefin Sans", sans-serif;
   font-size: 2rem;
   letter-spacing: 1.2em;
   text-shadow: 1px 2px 3px #708090;
}
hr{
    border: style 3px;;
    border-color: rgb(red, green, blue);

}
.name{
    color: #ffc0cb;
}
.birth{
    color: #87ceeb;
}
.blood{
    color: #ffc0cb;
}
.hobby{
    color: #87ceeb;
}
.food{
    color: #ffc0cb;
}
.reason{
    color: #87ceeb;
}

body{
    font-family: "Arial", "Meiryo", sans-serif;
}
html{
    font-size: 20px;
}
.child1{
   font-weight: bold;
}